<div>
  <table>
    <thead>
      <th></th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Edad</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr collspan="6" *ngIf="users.length === 0">
        No hay Usuarios
      </tr>
      <tr *ngFor="let user of users; index as i">
        <td>{{ i }}</td>
        <td><input type="text" value="{{ user.name }}" /></td>
        <td><input type="email" value="{{ user.email }}" /></td>
        <td><input type="text" value="{{ user.role }}" /></td>
        <td><input type="number" value="{{ user.age }}" /></td>
        <td><button (click)="deleteUser(i)">Eliminar</button></td>
        <td><button>Modificar</button></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <br />
  <h1>Agregar Usuarios</h1>

  Nombre:
  <input type="text" required #nameInput="ngModel" [(ngModel)]="usuario.name" />
  <p class="message-error" [class.invalid]="nameInput.invalid">
    Campo requerido
  </p>
  <br />
  E-Mail:
  <input type="email" required [(ngModel)]="usuario.email" /><br />
  Contraseña:
  <input type="password" required [(ngModel)]="usuario.password" /><br />
  Rol:
  <input type="text" required [(ngModel)]="usuario.role" /><br />
  Edad:
  <input type="number" required [(ngModel)]="usuario.age" /><br />
  <br />

  <button (click)="addUser()">Agregar Usuario</button>
</div>
<hr />

<h1>Formulario</h1>
<form (ngSubmit)="(onRegister)" #myForm="ngForm">
  <div class="input-group">
    Nombre
    <input
      type="text"
      required
      name="name"
      id="name"
      [(ngModel)]="register.name"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    E-mail
    <input
      type="email"
      required
      name="email"
      id="email"
      [(ngModel)]="register.email"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    Password
    <input
      type="password"
      required
      name="password"
      id="password"
      [(ngModel)]="register.password"
    />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Acción</button>
</form>
